# Motor
type sysfs_motor, sysfs_type, fs_type;

#Battery
type sysfs_battery, sysfs_type, fs_type;
type sysfs_battery_supply_oplus, sysfs_type, fs_type;
