type alertslider_controller_app, domain;

app_domain(alertslider_controller_app)

hal_client_domain(alertslider_controller_app, vendor_hal_oplus_alertslider)

# Set ringer mode
allow alertslider_controller_app app_api_service:service_manager find;
