type battery_charging_limiter_app, domain;
typeattribute battery_charging_limiter_app mlstrustedsubject;

app_domain(battery_charging_limiter_app)

allow battery_charging_limiter_app {
  batteryproperties_service
  batterystats_service
  lineage_health_interface_service
}:service_manager find;

allow battery_charging_limiter_app system_app_data_file:dir create_dir_perms;
allow battery_charging_limiter_app system_app_data_file:{
  file
  lnk_file
} create_file_perms;

allow battery_charging_limiter_app sysfs_battery:dir r_dir_perms;
allow battery_charging_limiter_app sysfs_battery:file rw_file_perms;

allow battery_charging_limiter_app mnt_vendor_file:dir r_dir_perms;
allow battery_charging_limiter_app mnt_vendor_file:file r_file_perms;

allow battery_charging_limiter_app app_api_service:service_manager find;

dontaudit battery_charging_limiter_app system_data_file:dir search;


