<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2018, 2021 The LineageOS Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          android:sharedUserId="android.uid.system"
          package="org.halogenos.settings.device.extra">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/extra_settings"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true">

        <receiver
            android:name="org.halogenos.settings.device.extra.BatteryReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="custom.intent.action.BATTERY_CHARGE_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BatteryChargeLimitTileService"
            android:enabled="true"
            android:exported="true"
            android:label="Battery Charging Limit"
            android:icon="@drawable/ic_battery"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action
                    android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
    </application>
</manifest>
